dl.function-definition {
    padding-left: 20px;
    font-size: 90%;
    border-left: 1px solid black;
}

dl.function-definition .name {
  font-weight: bold;
  margin-bottom: 8px;
}

dl.function-definition .desc {
  font-style: italic;
  margin-bottom: 8px;
}

dl.function-definition div {
  clear: left;
}

dl.function-definition dt {
  float: left;
  font-weight: bold;
  width: 150px;
  font-size: 70%;
}

dl.function-definition dd {
    margin: 0 0 0 160px;
}
